.SearchBar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding: 0 .75rem .75rem;
  max-width: 440px;
  margin: 0 auto 40px;
}
  .SearchBar input {
    font-size: 1.5rem;
    line-height: 1em;
    color: #fff;
    background-color: transparent;
    border: 0;
    padding: 0;
    width: 100%;
    -webkit-appearance: none;
  }
    .SearchBar input:focus {
      outline: none;
    }

    .SearchBar input::placeholder {
      color: #fff;
    }

  .SearchBar .SearchButton {
    background-image: url(../../images/search-icon.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
    .SearchBar .SearchButton:focus {
      outline: none;
    }