.Track {
  text-align: center;
  background-color: #191919;
  width: 200px;
  margin: 20px;
  box-shadow: 0 0 10px 5px #191919;
}
  .Track .Track-image img {
    width: 100%;
  }

  .Track .Track-information {
    margin: 2rem 0 0;
  }
    .Track .Track-information > * {
      line-height: 1em;
      padding: 0 .5rem;
      margin-bottom: .5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .Track .Track-information h3 {
      font-size: 1.25rem;
    }

    .Track .Track-information h4 {
      font-size: 1rem;
    }

    .Track .Track-information h5 {
      font-size: .8rem;
      margin-bottom: 0;
    }

  .Track .Track-action {
    font-size: 1rem;
    line-height: 1em;
    border-radius: 1em;
    padding: 5px 10px;
    margin: 1rem 0 2rem;
    display: inline-block;
    cursor: pointer;
  }
    .SearchResults .Track .Track-action {
      background-color: #4993b0;
    }

    .Playlist .Track .Track-action {
      background-color: #b06161;
    }